<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    {% if request.session.user_name %}
    <p>
        欢迎 {{request.session.user_name}}
    </p>
    <p><a href="">退出登录</a></p>
    <p><a href="">进入我的笔记</a></p>

    {% else %}
        {% if request.COOKIES.user_name %}
        <p>
            欢迎 {{request.COOKIES.user_name}}
        </p>
        <p><a href="">退出登录</a></p>
        <p><a href="">进入我的笔记</a></p>
        {% else %}
        <p><a href="user/login">登录</a></p>
        <p><a href="user/register">注册</a></p>
        {% endif %}
    {% endif %}

</body>
</html>